/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, h4{
	outline-color: transparent;
	color: #b3b3b1;
	
}

h1{
	padding:5px 0 5px -5px;
}
 

a{
	color:black;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    width: 100%;
    z-index:300;
    padding-top: 10px;
  }
  
.header >  div.navbar{
  	background-color:white;
  	border-color: transparent;
  }
  
  div.main-canvas{
  	margin:auto;
  	padding: 10px;
  }

  
   #content{
       /*background-image: url("/images/self-publishing.jpg");*/
       box-shadow: 0 0 20px #888;
   }
}

li.selected{
    border-bottom: 1px solid black;
}

.nav > li.selected > a{
	font-weight:900;	
}

.nav > li{
	width:100px;
	text-align:center;
}

ul.nav {
	max-width:650px;
	margin:8px;
}

.nav > li > a:hover,
.nav > li > a:focus{
	background-color:inherit;
	color:black;
	font-weight:900;
}

.nav > li > a{
	
	padding:6px;
    font-family: Geneva,Verdana,sans-serif;
	background-color:inherit;
	font-weight:500;
	
}
.container-narrow > hr {
  margin: 30px 0;
}

/****************** BUTTONS ****************************/
button.publish-btn{
    color: black;
    width:50%;
    margin:30px auto 0px auto;

}

/* Main marketing message and sign up  button */
.jumbotron {
  text-align: center;
  margin: auto;
    width: 970px;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.site-wrapper-inner{
	background-color: white;
	min-height:500px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
    padding-bottom: 15px;
    overflow:hidden;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .my-jumbotron {
    border-bottom: 0;
    max-width: 770px;
    margin: auto;
    padding-top:30px;
  }
  
  .list-group{
  	margin-top:15px;
  }
  
  .list-group-item{
  	border: 0;
  }
  .list-group a{
  	font-size:1em;
  	font-weight:bold;
  	padding-left:20px;
  	border: 0px none;
  	color:lightslategrey;
  }
  
  .btn{
  	font-weight:900;
  	color:white;
  }
  
  div.home-canvas{
  	margin:auto;
  	float:none;
  }
  
  
  .container .list-group a{
  height:55px;
  }
  
    .btn-success{
        background-color: lightblue;
        border-color: lightblue;
    }
    
    .editable{
    	margin-top:30px;
    }
    
    h4.main-text{
    	min-height:100px;
    }
    
    .left-panel-chapter{
		padding-left:20px; 
    }
    
    .left-panel-book-name{
    	font-size:1.2em;
    	font-weight:800;
    	display:inline;
    }
    
    ul.nav-tabs,
	div.header  div.navbar-collapse{
		display:inline-block  !important;
	}
	
	

	.snap-drawers .btn{
		width:90%;
	}
	.panel-button-container{
		text-align:center;
	}
}
