<div class="my-jumbotron">
    <div ng-app="writeModule" ng-controller="writeCtrl" >
     
        <h1 ng-model="write.book" 
            class="chapter-title"
            medium-editor options='{"placeholder": "Book", "disableToolbar": false,  "disableReturn": true}'>
        </h1>
        <h3 ng-model="write.chapter.title" 
            class="chapter-title"
            medium-editor options='{"placeholder": "Chapter", "disableToolbar": false,  "disableReturn": true}'>
        </h3>
        <h4 ng-model="write.chapter.body"
            class="chapter-main-text"
            medium-editor options='{"placeholder": "Contents", "disableToolbar": false,  "disableReturn": true}'
            style="margin-top:30px; height:200px;"" >
        </h4>
         <button ng-click="save()" type="button" class="btn btn-default publish-btn">Publish</button>
    </div> 

    </div>
</div>