<div class="list-group ">
    <a href="#" class=" list-group-item">
        <span class="glyphicon glyphicon-camera"></span> Pictures <span class="badge">25</span>
    </a>
    <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading"></h4>
        <span class="glyphicon glyphicon-file"></span> Documents <span class="badge">145</span>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading"></h4>
        <span class="glyphicon glyphicon-music"></span> Music <span class="badge">50</span>
    </a>
</div>
<div>
          <button class="btn " snap-close="">Done</button>
          </div>