<div class="list-group">
	<h2>New!</h2>
    <a href="#" class="list-group-item ">
        	A Memory of the Future
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a href="#" class="list-group-item">My Account
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a href="#" class="list-group-item">Privacy Settings
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a href="#" class="list-group-item">Analytics
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a href="#" class="list-group-item">Feedback
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="panel-button-container">
      <button class="btn " snap-close="">Done</button>
  </div>